Data Collections from TMDB

In [ ]:
import pandas as pd
import requests

In [ ]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=1')

In [ ]:
temp_df = pd.DataFrame(response.json()['results'])[['id','genre_ids', 'title','overview','release_date','popularity','vote_average','vote_count']]

In [ ]:
temp_df

,id,genre_ids,title,overview,release_date,popularity,vote_average,vote_count
0,278,"[18, 80]",The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,25.3318,8.711,29160
1,238,"[18, 80]",The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,26.3705,8.685,22027
2,240,"[18, 80]",The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,13.4802,8.571,13315
3,424,"[18, 36, 10752]",Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,10.6071,8.566,16836
4,389,[18],12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,9.0143,8.548,9503
5,129,"[16, 10751, 14]",Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,15.8954,8.534,17608
6,155,"[18, 28, 80, 53]",The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,33.2459,8.524,34660
7,19404,"[35, 18, 10749]",Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,6.8739,8.500,4518
8,497,"[14, 18, 80]",The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,14.2720,8.502,18519
9,496243,"[35, 53, 18]",Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,20.2127,8.496,19672
10,122,"[12, 14, 28]",The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,2003-12-17,19.3789,8.490,25626
11,680,"[53, 80, 35]",Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,16.7978,8.487,29242
12,372058,"[16, 10749, 18]",Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,18.1659,8.479,12080
13,13,"[35, 18, 10749]",Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,32.6138,8.500,28810
14,157336,"[12, 18, 878]",Interstellar,The adventures of a group of explorers who mak...,2014-11-05,35.8600,8.500,38183
15,429,[37],"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-22,10.8919,8.461,9233
16,769,"[18, 80]",GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,11.8458,8.453,13753
17,346,"[28, 18]",Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,7.4517,8.451,4017
18,12477,"[16, 18, 10752]",Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-16,0.0113,8.447,6179
19,637,"[35, 18]",Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,8.0713,8.440,13613

In [ ]:
df = pd.DataFrame()

In [ ]:
df

Empty DataFrame
Columns: []
Index: []

In [ ]:
import requests
import pandas as pd
import time

all_dfs = []

for i in range(1, 525):
    try:
        url = f'https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page={i}'
        response = requests.get(url)
        response.raise_for_status()
        data = response.json().get('results', [])
        if data:
            temp_df = pd.DataFrame(data)[['title', 'overview', 'genre_ids']]
            all_dfs.append(temp_df)
        time.sleep(0.25)
    except Exception as e:
        print(f"Error on page {i}: {e}")

df = pd.concat(all_dfs, ignore_index=True)

Error on page 501: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=501
Error on page 502: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=502
Error on page 503: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=503
Error on page 504: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=504
Error on page 505: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=505
Error on page 506: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=506
Error on page 507: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=507
Error on page 508: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=508
Error on page 509: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=509
Error on page 510: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=510
Error on page 511: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=511
Error on page 512: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=512
Error on page 513: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=513
Error on page 514: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=514
Error on page 515: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=515
Error on page 516: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=516
Error on page 517: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=517
Error on page 518: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=518
Error on page 519: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=519
Error on page 520: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=520
Error on page 521: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=521
Error on page 522: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=522
Error on page 523: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=523
Error on page 524: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=524

In [ ]:
df

,id,overview,genre_ids
0,278,Imprisoned in the 1940s for the double murder ...,"[18, 80]"
1,238,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]"
2,240,In the continuing saga of the Corleone crime f...,"[18, 80]"
3,424,The true story of how businessman Oskar Schind...,"[18, 36, 10752]"
4,389,The defense and the prosecution have rested an...,[18]
...,...,...,...
9995,12702,"As fanged, furious furballs viciously invade a...","[35, 27, 878]"
9996,328429,Captain William Stanaforth is on a one-way sol...,"[53, 18, 878]"
9997,11260,A crew of miniature aliens operate a spaceship...,"[35, 878, 12, 10751]"
9998,9731,Homicidal maniac Jason returns from the grave ...,"[27, 53]"
9999,9480,A man blinded in a childhood accident fights c...,"[14, 28]"

In [ ]:
import requests
import pandas as pd
import time

# Step 1: Get the genre map
genre_url = "https://api.themoviedb.org/3/genre/movie/list?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US"
genre_response = requests.get(genre_url)
genre_data = genre_response.json()["genres"]

# Build a dictionary: {id: name}
genre_map = {g["id"]: g["name"] for g in genre_data}

# Step 2: Collect movie data
all_dfs = []

for i in range(1, 525):
    try:
        url = f'https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page={i}'
        response = requests.get(url)
        response.raise_for_status()
        data = response.json().get("results", [])
        if data:
            temp_df = pd.DataFrame(data)[["title", "overview", "genre_ids"]]
            all_dfs.append(temp_df)
        time.sleep(0.25)
    except Exception as e:
        print(f"Error on page {i}: {e}")

df = pd.concat(all_dfs, ignore_index=True)

# Step 3: Replace genre IDs with names
def map_genre_ids(ids):
    return [genre_map.get(i, "Unknown") for i in ids]

df["genres"] = df["genre_ids"].apply(map_genre_ids)
df.drop(columns=["genre_ids"], inplace=True)

# Step 4: (Optional) Expand into a comma-separated string
df["genres"] = df["genres"].apply(lambda x: ", ".join(x))

# ✅ Final dataframe
print(df.head())

Error on page 501: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=501
Error on page 502: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=502
Error on page 503: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=503
Error on page 504: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=504
Error on page 505: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=505
Error on page 506: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=506
Error on page 507: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=507
Error on page 508: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=508
Error on page 509: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=509
Error on page 510: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=510
Error on page 511: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=511
Error on page 512: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=512
Error on page 513: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=513
Error on page 514: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=514
Error on page 515: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=515
Error on page 516: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=516
Error on page 517: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=517
Error on page 518: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=518
Error on page 519: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=519
Error on page 520: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=520
Error on page 521: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=521
Error on page 522: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=522
Error on page 523: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=523
Error on page 524: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=524
                      title  \
0  The Shawshank Redemption
1             The Godfather
2     The Godfather Part II
3          Schindler's List
4              12 Angry Men

                                            overview               genres
0  Imprisoned in the 1940s for the double murder ...         Drama, Crime
1  Spanning the years 1945 to 1955, a chronicle o...         Drama, Crime
2  In the continuing saga of the Corleone crime f...         Drama, Crime
3  The true story of how businessman Oskar Schind...  Drama, History, War
4  The defense and the prosecution have rested an...                Drama

In [ ]:
df

,title,overview,genres
0,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,"Drama, Crime"
1,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...","Drama, Crime"
2,The Godfather Part II,In the continuing saga of the Corleone crime f...,"Drama, Crime"
3,Schindler's List,The true story of how businessman Oskar Schind...,"Drama, History, War"
4,12 Angry Men,The defense and the prosecution have rested an...,Drama
...,...,...,...
9995,Critters 3,"As fanged, furious furballs viciously invade a...","Comedy, Horror, Science Fiction"
9996,Approaching the Unknown,Captain William Stanaforth is on a one-way sol...,"Thriller, Drama, Science Fiction"
9997,Meet Dave,A crew of miniature aliens operate a spaceship...,"Comedy, Science Fiction, Adventure, Family"
9998,Friday the 13th: A New Beginning,Homicidal maniac Jason returns from the grave ...,"Horror, Thriller"
9999,Daredevil,A man blinded in a childhood accident fights c...,"Fantasy, Action"

Save as CSV

In [ ]:
df.to_csv("top_rated_movies.csv", index=False, encoding="utf-8")

Convert to lowercase letter

In [ ]:
df['overview'][3].lower()

'the true story of how businessman oskar schindler saved over a thousand jewish lives from the nazis while they worked as slaves in his factory during world war ii.'

In [ ]:
df['overview'] = df['overview'].str.lower()

In [ ]:
df

,title,overview,genres
0,The Shawshank Redemption,imprisoned in the 1940s for the double murder ...,"Drama, Crime"
1,The Godfather,"spanning the years 1945 to 1955, a chronicle o...","Drama, Crime"
2,The Godfather Part II,in the continuing saga of the corleone crime f...,"Drama, Crime"
3,Schindler's List,the true story of how businessman oskar schind...,"Drama, History, War"
4,12 Angry Men,the defense and the prosecution have rested an...,Drama
...,...,...,...
9995,Critters 3,"as fanged, furious furballs viciously invade a...","Comedy, Horror, Science Fiction"
9996,Approaching the Unknown,captain william stanaforth is on a one-way sol...,"Thriller, Drama, Science Fiction"
9997,Meet Dave,a crew of miniature aliens operate a spaceship...,"Comedy, Science Fiction, Adventure, Family"
9998,Friday the 13th: A New Beginning,homicidal maniac jason returns from the grave ...,"Horror, Thriller"
9999,Daredevil,a man blinded in a childhood accident fights c...,"Fantasy, Action"

Remove HTML tags

In [ ]:
import re
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

In [ ]:
df['overview'] = df['overview'].apply(remove_html_tags)

In [ ]:
df

,title,overview,genres
0,The Shawshank Redemption,imprisoned in the 1940s for the double murder ...,"Drama, Crime"
1,The Godfather,"spanning the years 1945 to 1955, a chronicle o...","Drama, Crime"
2,The Godfather Part II,in the continuing saga of the corleone crime f...,"Drama, Crime"
3,Schindler's List,the true story of how businessman oskar schind...,"Drama, History, War"
4,12 Angry Men,the defense and the prosecution have rested an...,Drama
...,...,...,...
9995,Critters 3,"as fanged, furious furballs viciously invade a...","Comedy, Horror, Science Fiction"
9996,Approaching the Unknown,captain william stanaforth is on a one-way sol...,"Thriller, Drama, Science Fiction"
9997,Meet Dave,a crew of miniature aliens operate a spaceship...,"Comedy, Science Fiction, Adventure, Family"
9998,Friday the 13th: A New Beginning,homicidal maniac jason returns from the grave ...,"Horror, Thriller"
9999,Daredevil,a man blinded in a childhood accident fights c...,"Fantasy, Action"

Remove URL

In [ ]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'', text)

In [ ]:
df['overview'] = df['overview'].apply(remove_url)

In [ ]:
df

,title,overview,genres
0,The Shawshank Redemption,imprisoned in the 1940s for the double murder ...,"Drama, Crime"
1,The Godfather,"spanning the years 1945 to 1955, a chronicle o...","Drama, Crime"
2,The Godfather Part II,in the continuing saga of the corleone crime f...,"Drama, Crime"
3,Schindler's List,the true story of how businessman oskar schind...,"Drama, History, War"
4,12 Angry Men,the defense and the prosecution have rested an...,Drama
...,...,...,...
9995,Critters 3,"as fanged, furious furballs viciously invade a...","Comedy, Horror, Science Fiction"
9996,Approaching the Unknown,captain william stanaforth is on a one-way sol...,"Thriller, Drama, Science Fiction"
9997,Meet Dave,a crew of miniature aliens operate a spaceship...,"Comedy, Science Fiction, Adventure, Family"
9998,Friday the 13th: A New Beginning,homicidal maniac jason returns from the grave ...,"Horror, Thriller"
9999,Daredevil,a man blinded in a childhood accident fights c...,"Fantasy, Action"

Remove punctuation

In [ ]:
import string,time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
exclude = string.punctuation

In [ ]:
exclude

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
def remove_punc(text):
    for char in exclude:
        text = text.replace(char,'')
    return text

In [ ]:
df['overview'] = df['overview'].apply(remove_punc)

In [ ]:
df

,title,overview,genres
0,The Shawshank Redemption,imprisoned in the 1940s for the double murder ...,"Drama, Crime"
1,The Godfather,spanning the years 1945 to 1955 a chronicle of...,"Drama, Crime"
2,The Godfather Part II,in the continuing saga of the corleone crime f...,"Drama, Crime"
3,Schindler's List,the true story of how businessman oskar schind...,"Drama, History, War"
4,12 Angry Men,the defense and the prosecution have rested an...,Drama
...,...,...,...
9995,Critters 3,as fanged furious furballs viciously invade an...,"Comedy, Horror, Science Fiction"
9996,Approaching the Unknown,captain william stanaforth is on a oneway solo...,"Thriller, Drama, Science Fiction"
9997,Meet Dave,a crew of miniature aliens operate a spaceship...,"Comedy, Science Fiction, Adventure, Family"
9998,Friday the 13th: A New Beginning,homicidal maniac jason returns from the grave ...,"Horror, Thriller"
9999,Daredevil,a man blinded in a childhood accident fights c...,"Fantasy, Action"

Short form of word to full form

In [ ]:
chat_words = {
    "A3": "Anytime, Anywhere, Anyplace",
    "ADIH": "Another Day In Hell",
    "AFK": "Away From Keyboard",
    "AFAIK": "As Far As I Know",
    "ASAP": "As Soon As Possible",
    "ASL": "Age, Sex, Location",
    "ATK": "At The Keyboard",
    "ATM": "At The Moment",
    "BAE": "Before Anyone Else",
    "BAK": "Back At Keyboard",
    "BBL": "Be Back Later",
    "BBS": "Be Back Soon",
    "BFN": "Bye For Now",
    "B4N": "Bye For Now",
    "BRB": "Be Right Back",
    "BRUH": "Bro",
    "BRT": "Be Right There",
    "BSAAW": "Big Smile And A Wink",
    "BTW": "By The Way",
    "BWL": "Bursting With Laughter",
    "CSL": "Can’t Stop Laughing",
    "CU": "See You",
    "CUL8R": "See You Later",
    "CYA": "See You",
    "DM": "Direct Message",
    "FAQ": "Frequently Asked Questions",
    "FC": "Fingers Crossed",
    "FIMH": "Forever In My Heart",
    "FOMO": "Fear Of Missing Out",
    "FR": "For Real",
    "FWIW": "For What It's Worth",
    "FYP": "For You Page",
    "FYI": "For Your Information",
    "G9": "Genius",
    "GAL": "Get A Life",
    "GG": "Good Game",
    "GMTA": "Great Minds Think Alike",
    "GN": "Good Night",
    "GOAT": "Greatest Of All Time",
    "GR8": "Great!",
    "HBD": "Happy Birthday",
    "IC": "I See",
    "ICQ": "I Seek You",
    "IDC": "I Don’t Care",
    "IDK": "I Don't Know",
    "IFYP": "I Feel Your Pain",
    "ILU": "I Love You",
    "ILY": "I Love You",
    "IMHO": "In My Honest/Humble Opinion",
    "IMU": "I Miss You",
    "IMO": "In My Opinion",
    "IOW": "In Other Words",
    "IRL": "In Real Life",
    "IYKYK": "If You Know, You Know",
    "JK": "Just Kidding",
    "KISS": "Keep It Simple, Stupid",
    "L": "Loss",
    "L8R": "Later",
    "LDR": "Long Distance Relationship",
    "LMK": "Let Me Know",
    "LMAO": "Laughing My A** Off",
    "LOL": "Laughing Out Loud",
    "LTNS": "Long Time No See",
    "M8": "Mate",
    "MFW": "My Face When",
    "MID": "Mediocre",
    "MRW": "My Reaction When",
    "MTE": "My Thoughts Exactly",
    "NVM": "Never Mind",
    "NRN": "No Reply Necessary",
    "NPC": "Non-Player Character",
    "OIC": "Oh I See",
    "OP": "Overpowered",
    "PITA": "Pain In The A**",
    "POV": "Point Of View",
    "PRT": "Party",
    "PRW": "Parents Are Watching",
    "ROFL": "Rolling On The Floor Laughing",
    "ROFLOL": "Rolling On The Floor Laughing Out Loud",
    "ROTFLMAO": "Rolling On The Floor Laughing My A** Off",
    "RN": "Right Now",
    "SK8": "Skate",
    "STATS": "Your Sex And Age",
    "SUS": "Suspicious",
    "TBH": "To Be Honest",
    "TFW": "That Feeling When",
    "THX": "Thank You",
    "TIME": "Tears In My Eyes",
    "TLDR": "Too Long, Didn’t Read",
    "TNTL": "Trying Not To Laugh",
    "TTFN": "Ta-Ta For Now!",
    "TTYL": "Talk To You Later",
    "U": "You",
    "U2": "You Too",
    "U4E": "Yours For Ever",
    "W": "Win",
    "W8": "Wait...",
    "WB": "Welcome Back",
    "WTF": "What The F**k",
    "WTG": "Way To Go!",
    "WUF": "Where Are You From?",
    "WYD": "What You Doing?",
    "WYWH": "Wish You Were Here",
    "ZZZ": "Sleeping, Bored, Tired"
}

In [ ]:
def chat_conversion(text):
    new_text = []
    for w in text.split():
        if w.upper() in chat_words:
            new_text.append(chat_words[w.upper()])
        else:
            new_text.append(w)
    return " ".join(new_text)

In [ ]:
chat_conversion('IMHO he is the best')

'In My Honest/Humble Opinion he is the best'

In [ ]:
chat_conversion('FYI delhi is the capital of india')

'For Your Information delhi is the capital of india'

TextBlob get the proper sentece

In [ ]:
from textblob import TextBlob

In [ ]:
incorrect_text = 'ceertain conditionas duriing seveal ggenerations aree moodified in the saame maner.'

textBlb = TextBlob(incorrect_text)

textBlb.correct().string

'certain conditions during several generations are modified in the same manner.'

Remove stop words

In [ ]:
from nltk.corpus import stopwords

In [ ]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [ ]:
def remove_stopwords(text):
    new_text = []

    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x = new_text[:]
    new_text.clear()
    return " ".join(x)

In [ ]:
df['overview'].apply(remove_stopwords)

0       imprisoned   1940s   double murder   wife   lo...
1       spanning  years 1945  1955  chronicle   fictio...
2         continuing saga   corleone crime family  you...
3        true story   businessman oskar schindler save...
4        defense   prosecution  rested   jury  filing ...
                              ...
9995     fanged furious furballs viciously invade  la ...
9996    captain william stanaforth    oneway solo miss...
9997     crew  miniature aliens operate  spaceship    ...
9998    homicidal maniac jason returns   grave  cause ...
9999     man blinded   childhood accident fights crime...
Name: overview, Length: 10000, dtype: object

Remove emoji

In [ ]:
import re
def remove_emoji(text):
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [ ]:
remove_emoji("Loved the movie. It was 😘😘")

'Loved the movie. It was '

In [ ]:
import emoji
print(emoji.demojize('Python is 🔥'))

Python is :fire:

In [ ]:
print(emoji.demojize('Loved the movie. It was 😘'))

Loved the movie. It was :face_blowing_a_kiss:

NLTK

In [ ]:
from nltk.tokenize import word_tokenize,sent_tokenize

In [ ]:
sent1 = 'I am going to visit sylhet!'
word_tokenize(sent1)

['I', 'am', 'going', 'to', 'visit', 'sylhet', '!']

In [ ]:
text = """Lorem Ipsum is simply dummy text of the printing and typesetting industry?
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book."""

sent_tokenize(text)

['Lorem Ipsum is simply dummy text of the printing and typesetting industry?',
 "Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, \nwhen an unknown printer took a galley of type and scrambled it to make a type specimen book."]

In [ ]:
sent5 = 'I have a Ph.D in A.I'
sent6 = "We're here to help! mail us at nks@gmail.com"
sent7 = 'A 5km ride cost $10.50'

In [ ]:
word_tokenize(sent5)

['I', 'have', 'a', 'Ph.D', 'in', 'A.I']

 Spacy

In [ ]:
import spacy
nlp = spacy.load('en_core_web_sm')

In [ ]:
doc1 = nlp(sent5)
doc2 = nlp(sent6)
doc3 = nlp(sent7)
doc4 = nlp(sent1)

In [ ]:
for token in doc4:
    print(token)

I
am
going
to
visit
sylhet
!

Stemmer

In [ ]:
from nltk.stem.porter import PorterStemmer

In [ ]:
ps = PorterStemmer()
def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [ ]:
sample = "walk walks walking walked"
stem_words(sample)

'walk walk walk walk'

In [ ]:
text = 'probably my alltime favorite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen it some 15 or more times in the last 25 years paul lukas performance brings tears to my eyes and bette davis in one of her very few truly sympathetic roles is a delight the kids are as grandma says more like dressedup midgets than children but that only makes them more fun to watch and the mothers slow awakening to whats happening in the world and under her own roof is believable and startling if i had a dozen thumbs theyd all be up for this movie'
print(text)

probably my alltime favorite movie a story of selflessness sacrifice and dedication to a noble cause but its not preachy or boring it just never gets old despite my having seen it some 15 or more times in the last 25 years paul lukas performance brings tears to my eyes and bette davis in one of her very few truly sympathetic roles is a delight the kids are as grandma says more like dressedup midgets than children but that only makes them more fun to watch and the mothers slow awakening to whats happening in the world and under her own roof is believable and startling if i had a dozen thumbs theyd all be up for this movie

In [ ]:
stem_words(text)

'probabl my alltim favorit movi a stori of selfless sacrific and dedic to a nobl caus but it not preachi or bore it just never get old despit my have seen it some 15 or more time in the last 25 year paul luka perform bring tear to my eye and bett davi in one of her veri few truli sympathet role is a delight the kid are as grandma say more like dressedup midget than children but that onli make them more fun to watch and the mother slow awaken to what happen in the world and under her own roof is believ and startl if i had a dozen thumb theyd all be up for thi movi'

In [ ]:
import nltk
from nltk.stem import WordNetLemmatizer
wordnet_lemmatizer = WordNetLemmatizer()

sentence = "He was running and eating at same time. He has bad habit of swimming after playing long hours in the Sun."
punctuations="?:!.,;"
sentence_words = nltk.word_tokenize(sentence)
for word in sentence_words:
    if word in punctuations:
        sentence_words.remove(word)

sentence_words
print("{0:20}{1:20}".format("Word","Lemma"))
for word in sentence_words:
    print ("{0:20}{1:20}".format(word,wordnet_lemmatizer.lemmatize(word,pos='v')))

Word                Lemma
He                  He
was                 be
running             run
and                 and
eating              eat
at                  at
same                same
time                time
He                  He
has                 have
bad                 bad
habit               habit
of                  of
swimming            swim
after               after
playing             play
long                long
hours               hours
in                  in
the                 the
Sun                 Sun