In [1]:
print("hi")

hi

In [3]:
import pandas as pd
import requests

In [4]:
response = requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=1')

In [7]:
temp_df = pd.DataFrame(response.json()['results'])[['id','genre_ids', 'title','overview','release_date','popularity','vote_average','vote_count']]

In [8]:
temp_df

,id,genre_ids,title,overview,release_date,popularity,vote_average,vote_count
0,278,"[18, 80]",The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,25.3318,8.711,29160
1,238,"[18, 80]",The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,26.3705,8.685,22027
2,240,"[18, 80]",The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,13.4802,8.571,13315
3,424,"[18, 36, 10752]",Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,10.6071,8.566,16836
4,389,[18],12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,9.0143,8.548,9503
5,129,"[16, 10751, 14]",Spirited Away,"A young girl, Chihiro, becomes trapped in a st...",2001-07-20,15.8954,8.534,17608
6,155,"[18, 28, 80, 53]",The Dark Knight,Batman raises the stakes in his war on crime. ...,2008-07-16,33.2459,8.524,34660
7,19404,"[35, 18, 10749]",Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",1995-10-20,6.8739,8.500,4518
8,497,"[14, 18, 80]",The Green Mile,A supernatural tale set on death row in a Sout...,1999-12-10,14.2720,8.502,18519
9,496243,"[35, 53, 18]",Parasite,"All unemployed, Ki-taek's family takes peculia...",2019-05-30,20.2127,8.496,19672
10,122,"[12, 14, 28]",The Lord of the Rings: The Return of the King,As armies mass for a final battle that will de...,2003-12-17,19.3789,8.490,25626
11,680,"[53, 80, 35]",Pulp Fiction,"A burger-loving hit man, his philosophical par...",1994-09-10,16.7978,8.487,29242
12,372058,"[16, 10749, 18]",Your Name.,High schoolers Mitsuha and Taki are complete s...,2016-08-26,18.1659,8.479,12080
13,13,"[35, 18, 10749]",Forrest Gump,A man with a low IQ has accomplished great thi...,1994-06-23,32.6138,8.500,28810
14,157336,"[12, 18, 878]",Interstellar,The adventures of a group of explorers who mak...,2014-11-05,35.8600,8.500,38183
15,429,[37],"The Good, the Bad and the Ugly",While the Civil War rages on between the Union...,1966-12-22,10.8919,8.461,9233
16,769,"[18, 80]",GoodFellas,"The true story of Henry Hill, a half-Irish, ha...",1990-09-12,11.8458,8.453,13753
17,346,"[28, 18]",Seven Samurai,A samurai answers a village's request for prot...,1954-04-26,7.4517,8.451,4017
18,12477,"[16, 18, 10752]",Grave of the Fireflies,"In the final months of World War II, 14-year-o...",1988-04-16,0.0113,8.447,6179
19,637,"[35, 18]",Life Is Beautiful,A touching story of an Italian book seller of ...,1997-12-20,8.0713,8.440,13613

In [12]:
df = pd.DataFrame()

In [10]:
df

Empty DataFrame
Columns: []
Index: []

In [13]:
import requests
import pandas as pd
import time

all_dfs = []

for i in range(1, 525):
    try:
        url = f'https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page={i}'
        response = requests.get(url)
        response.raise_for_status()
        data = response.json().get('results', [])
        if data:
            temp_df = pd.DataFrame(data)[['id', 'overview', 'genre_ids']]
            all_dfs.append(temp_df)
        time.sleep(0.25)
    except Exception as e:
        print(f"Error on page {i}: {e}")

df = pd.concat(all_dfs, ignore_index=True)

Error on page 501: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=501
Error on page 502: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=502
Error on page 503: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=503
Error on page 504: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=504
Error on page 505: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=505
Error on page 506: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=506
Error on page 507: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=507
Error on page 508: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=508
Error on page 509: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=509
Error on page 510: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=510
Error on page 511: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=511
Error on page 512: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=512
Error on page 513: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=513
Error on page 514: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=514
Error on page 515: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=515
Error on page 516: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=516
Error on page 517: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=517
Error on page 518: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=518
Error on page 519: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=519
Error on page 520: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=520
Error on page 521: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=521
Error on page 522: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=522
Error on page 523: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=523
Error on page 524: 400 Client Error: Bad Request for url: https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page=524

In [14]:
df

,id,overview,genre_ids
0,278,Imprisoned in the 1940s for the double murder ...,"[18, 80]"
1,238,"Spanning the years 1945 to 1955, a chronicle o...","[18, 80]"
2,240,In the continuing saga of the Corleone crime f...,"[18, 80]"
3,424,The true story of how businessman Oskar Schind...,"[18, 36, 10752]"
4,389,The defense and the prosecution have rested an...,[18]
...,...,...,...
9995,12702,"As fanged, furious furballs viciously invade a...","[35, 27, 878]"
9996,328429,Captain William Stanaforth is on a one-way sol...,"[53, 18, 878]"
9997,11260,A crew of miniature aliens operate a spaceship...,"[35, 878, 12, 10751]"
9998,9731,Homicidal maniac Jason returns from the grave ...,"[27, 53]"
9999,9480,A man blinded in a childhood accident fights c...,"[14, 28]"

In [ ]:
import requests
import pandas as pd
import time

# Step 1: Get the genre map
genre_url = "https://api.themoviedb.org/3/genre/movie/list?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US"
genre_response = requests.get(genre_url)
genre_data = genre_response.json()["genres"]

# Build a dictionary: {id: name}
genre_map = {g["id"]: g["name"] for g in genre_data}

# Step 2: Collect movie data
all_dfs = []

for i in range(1, 525):
    try:
        url = f'https://api.themoviedb.org/3/movie/top_rated?api_key=ee78a13f6557e14dacc746275efa79f3&language=en-US&page={i}'
        response = requests.get(url)
        response.raise_for_status()
        data = response.json().get("results", [])
        if data:
            temp_df = pd.DataFrame(data)[["id", "overview", "genre_ids"]]
            all_dfs.append(temp_df)
        time.sleep(0.25)
    except Exception as e:
        print(f"Error on page {i}: {e}")

df = pd.concat(all_dfs, ignore_index=True)

# Step 3: Replace genre IDs with names
def map_genre_ids(ids):
    return [genre_map.get(i, "Unknown") for i in ids]

df["genres"] = df["genre_ids"].apply(map_genre_ids)
df.drop(columns=["genre_ids"], inplace=True)

# Step 4: (Optional) Expand into a comma-separated string
df["genres"] = df["genres"].apply(lambda x: ", ".join(x))

# ✅ Final dataframe
print(df.head())